<style>
  .container {
    width: 800px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .value {
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    background: #8257e6;
  }
  .answers {
    width: 390px;
    display: flex;
    justify-content: space-between;
  }
  .level {
    display: flex;
    margin: 10px;
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<div class="container">
  <label>Olá <strong>{{ name }}</strong>! Tudo bem?</label>

  <h3>{{ title }}</h3>

  <br />

  <strong>{{ description }}</strong>

  <div class="level">
    <span>Pouco provável</span>

    <span>Muito provável</span>
  </div>

  <div class="answers">
    <a class="value" href="{{link}}/1?u={{survey_id}}">1</a>

    <a class="value" href="{{link}}/2?u={{survey_id}}">2</a>

    <a class="value" href="{{link}}/3?u={{survey_id}}">3</a>

    <a class="value" href="{{link}}/4?u={{survey_id}}">4</a>

    <a class="value" href="{{link}}/5?u={{survey_id}}">5</a>

    <a class="value" href="{{link}}/6?u={{survey_id}}">6</a>

    <a class="value" href="{{link}}/7?u={{survey_id}}">7</a>

    <a class="value" href="{{link}}/8?u={{survey_id}}">8</a>

    <a class="value" href="{{link}}/9?u={{survey_id}}">9</a>

    <a class="value" href="{{link}}/10?u={{survey_id}}">10</a>
  </div>

  <br /><br />

  <strong>Sua opnião é muito importante para nós.</strong>

  <h3>Equipe | <strong>NLW</strong></h3>
</div>
